<div>
    <table>
        <thead>
            <tr>
                <th>N°</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>CEDULA</th>
                <th>EDAD</th>
                <th>CORREO</th>
            </tr> 
        </thead>
        <tbody>
            <tr>
                <td>{{indice +1}}</td>
                <td>{{persona.nombres}}</td>
                <td>{{persona.apellidos}}</td>
                <td>{{persona.cedula}}</td>
                <td>{{persona.edad}}</td>
                <td>{{persona.correo}}</td>
            </tr>
        </tbody>
    </table>
</div>

