<h1>{{title}}</h1>
<div >
    <form action="">
        <fieldset>
            <legend>DATOS DE USUARIO</legend>
            <label for="name">Nombres: </label><br>
            <input type="text" name="name" id="name" placeholder="Nombres(*)" [(ngModel)]="nameInput"><br>
            <label for="surname">Apellidos: </label><br>
            <input type="text" name="surname" id="surname" placeholder="Apellidos(*)" [(ngModel)]="surnameInput"><br>
            <label for="cedula">Cedula: </label><br>
            <input type="number" name="cedula" id="cedula" placeholder="Cedula(*)" [(ngModel)]="cedulaInput"><br>
            <label for="age">Edad: </label><br>
            <input type="number" name="age" id="age" placeholder="Edad(*)" [(ngModel)]="ageInput"><br>
            <label for="mail">Correo: </label><br>
            <input type="email" name="mail" id="mail" placeholder="Email(*)" [(ngModel)]="mailInput"><br>
            <input type="submit" value="Agregar" (click)="agregarPersonas()">
        </fieldset>
    </form>
    <!--Componente personas-->
    <app-personas *ngFor="let personaElemento of personas; let i = index" [persona]="personaElemento" [indice]="i">
    </app-personas>
</div>





    
    
  



